*.oa
*.obj
*.dll
*.exe
*.lib
*~
MSVC9Projects/**/*.ncb
MSVC9Projects/**/*.user
MSVC2010Projects/**/*.ncb
MSVC2010Projects/**/*.user
MSVC2015Projects/**/*.ncb
MSVC2015Projects/**/*.user
Debug/*.manifest
Debug/*.obj
Debug/*.dep
Debug/*.idb
Debug/*.pdb
Debug/*.res
Debug/*.htm
Debug/*.ilk
Release/*.manifest
Release/*.obj
Release/*.dep
Release/*.idb
Release/*.pdb
Release/*.res
Release/*.htm
Release/*.ilk
