*.oa
*.obj
*.dll
*.exe
*.lib
*~
projmsvc9/**/*.ncb
projmsvc9/**/*.user
projmsvc2010/**/*.ncb
projmsvc2010/**/*.user
projmsvc2015/**/*.ncb
projmsvc2015/**/*.user
Debug/*.manifest
Debug/*.obj
Debug/*.dep
Debug/*.idb
Debug/*.pdb
Debug/*.res
Debug/*.htm
Debug/*.ilk
Release/*.manifest
Release/*.obj
Release/*.dep
Release/*.idb
Release/*.pdb
Release/*.res
Release/*.htm
Release/*.ilk
doc/doxy/html/
doc/doxy/latex/
